<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="register-bg">

<div class="auth-container">
    <div class="auth-card">
        <h1>Register</h1>

        <form id="registerForm">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button class="btn-primary">Register</button>
        </form>

        <p id="msg"></p>

        <a href="/login">Login</a>
    </div>
</div>

<script>
document.getElementById("registerForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new URLSearchParams(new FormData(e.target));

const res = await fetch("/register", {
    method: "POST",
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
        email: formData.get("email"),
        password: formData.get("password")
    })
});

    const data = await res.json();

    if (data.status === "success") {
        window.location.href = "/";
    } else {
        document.getElementById("msg").innerText = data.message;
    }
});
</script>

</body>
</html>